* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
button {
	background-color: #222629;
	font-family: Poppins, Helvetica, sans-serif;
}

.main-container {
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	min-height: 100vh;
	padding: 4rem 0;
	width: 100%;
}

label {
	color: #fff;
	font-size: 0.85rem;
	font-weight: 500;
	letter-spacing: 0.08rem;
	margin-bottom: 0.5rem;
	align-self: flex-start;
}

.color-picker-label {
	align-items: flex-start;
}

input[type='range'] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	margin-bottom: 1.5rem;
	width: 7rem;
	align-self: flex-start;
}

input[type='range']:focus {
	outline: none;
}

input[type='range']:focus::-webkit-slider-thumb,
input[type='range']:focus::-moz-range-thumb {
	border: 1px solid #6b6e70;
	outline: 3px solid #6b6e70;
	outline-offset: 0.125rem;
}

input[type='range']::-webkit-slider-runnable-track {
	background: #39b240;
	border-radius: 10px;
	height: 8px;
}

input[type='range']::-moz-range-track {
	background: #39b240;
	border-radius: 10px;
	height: 8px;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	border-radius: 100%;
	height: 14px;
	margin-top: -3px;
	width: 14px;
}

input[type='range']::-moz-range-thumb {
	background-color: #fff;
	border: none;
	border-radius: 100%;
	height: 14px;
	margin-top: -3px;
	width: 14px;
}

.sub-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.grid-and-buttons {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	height: 320px;
}

.grid-container {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-height: 320px;
	max-width: 320px;
	margin-right: 3rem;
}

.grid-container.grid-border > div {
	outline: 1.5px solid #6b6e70;
}

.buttons {
	align-items: flex-start;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	height: 100%;
}

button,
input[type='color'] {
	background-color: #39b240;
	border: none;
	border-radius: 2px;
	color: #000;
	cursor: pointer;
	font-size: 0.9rem;
	font-weight: 500;
	letter-spacing: 0.04rem;
	padding: 0.4rem 0.8rem;
	text-transform: capitalize;
	transition: color 100ms ease-in-out;
	width: 130px;
}

button:hover {
	color: #fff;
}

.buttons > button:not(:first-child) {
	margin-top: 1.5rem;
}

.buttons > button:last-child {
	background-color: transparent;
	border: 2px solid rgba(57, 178, 64, 0.8);
	color: #39b240;
	padding: calc(0.4rem - 2px) 0.8rem;
	margin-top: 3rem;
}

.buttons > button:last-child:hover {
	border: 2px solid rgba(57, 178, 64, 0.8);
	color: #39b240;
}

input[type='color'] {
	-webkit-appearance: none;
	border: none;
	height: 34px;
	width: 34px;
	border-radius: 100%;
	padding: 0;
}
input[type='color']::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type='color']::-webkit-color-swatch {
	border: none;
	border-radius: 100%;
}

@media (min-width: 769px) {
	.grid-and-buttons {
		height: 500px;
	}
	.grid-container {
		max-height: 500px;
		max-width: 500px;
	}
	.color-picker-label {
		align-items: center;
	}
	.buttons {
		max-width: 400px;
	}
}
