* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
button {
	background-color: #222629;
	font-family: Poppins, Helvetica, sans-serif;
}

.main-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100%;
}

label {
	color: #fff;
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 0.04rem;
	margin-bottom: 0.5rem;
}

input[type='range'] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	margin-bottom: 1.5rem;
	width: 7rem;
}

input[type='range']:focus {
	outline: none;
}

input[type='range']:focus::-webkit-slider-thumb,
input[type='range']:focus::-moz-range-thumb {
	border: 1px solid #6b6e70;
	outline: 3px solid #6b6e70;
	outline-offset: 0.125rem;
}

input[type='range']::-webkit-slider-runnable-track {
	background: #86c232;
	border-radius: 10px;
	height: 8px;
}

input[type='range']::-moz-range-track {
	background: #86c232;
	border-radius: 10px;
	height: 8px;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	border-radius: 100%;
	margin-top: -3px;
	height: 14px;
	width: 14px;
}

input[type='range']::-moz-range-thumb {
	background-color: #fff;
	border: none;
	border-radius: 100%;
	margin-top: -3px;
	height: 14px;
	width: 14px;
}

.grid-container {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-height: 350px;
	max-width: 350px;
}

.grid-container.grid-border > div {
	outline: 1.5px solid #6b6e70;
}

.buttons {
	display: flex;
	flex-flow: row wrap;
	width: 80%;
	max-width: 400px;
	justify-content: space-between;
	align-items: center;
}

button, input[type="color"] {
	border: none;
	color: #86c232;
	background-color: transparent;
	border: 2px solid #86c232;
	width: 109px;
	padding: 0.4rem 0.8rem;
	text-transform: capitalize;
	margin-top: 1.5rem;
	letter-spacing: 0.08rem;
	font-size: 0.85rem;
	font-weight: 500;
	border-radius: 2px;
	transition: all 100ms ease-in-out;
	cursor: pointer;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	height: 36.78px;
	padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
	border-radius: 2px;
}

button:hover,
button:focus {
	background-color: #86c232;
	color: #000;
}

@media (min-width: 769px) {
	.grid-container {
		max-height: 500px;
		max-width: 500px;
	}
}
